* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.app-body {
  margin: 50px;
  /* background: yellow; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

